@import url(../css/cabinet-grotesk.css);
@import url(../css/author.css);

:root {
    --c-dark: #0B293F;
    --c-brand: #118511;
    --c-brand-light: #45d845;
    --c-brand-rgb: 17, 133, 17;
    --c-body: #4b4b4b;
    --c-font-base: "CabinetGrotesk", sans-serif;
    --c-font-body: "Author", roboto;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

body{
    font-family: var(--c-font-body);
    line-height: 1.7;
    color: var(--c-body);
}

.h1 .h2 .h3 .h4 .h5 .h6 {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

a{
    text-decoration: none;
    color: var(--c-brand-light);
    transition: var(--transition);
}