@import url(../css/cabinet-grotesk.css);
@import url(../css/author.css);
@import url(../css/kalam.css);

/* VARIABLES */
:root {
    --c-dark: #0B293F;
    --c-dark-light: #114d79;
    --c-brand: #118511;
    --c-brand-light: #1ebb1e;
    --c-brand-light-rgb: 64, 240, 64;
    --c-bg-drop: #E9F6FF;
    --c-brand-rgb: 11, 41, 63;
    --c-body: #4b4b4b;
    --c-font-base: "CabinetGrotesk", sans-serif;
    --c-font-body: "Author", roboto;
    --c-font-fancy: "Kalam", cursive;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET */
body {
    font-family: var(--c-font-body);
    line-height: 1.7;
    color: var(--c-body);
}

/* FONTS */
.h1 .h2 .h3 .h4 .h5 .h6 {
    font-weight: 600;
    font-family: var(--c-font-base);
    color: var(--c-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-family: var(--c-font-base);
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-dark);
    transition: var(--transition);
}

a:hover {
    color: var(--c-dark-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

.fancy {
    font-family: var(--c-font-fancy);
    color: var(--c-brand);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* BTN */
.btn {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* HERO */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/showcase-bg.png);
}

/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line{
    width: 60px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
} 

#about{
    background-color: var(--c-bg-drop);
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    border-radius: 5px 5px 0 0;
}

.service::after {
    content: '';
    width: 40px;
    height: 40px;
    background-color: rgba(var(--c-brand-light-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background-color: var(--c-brand-light); 
    z-index: -1;
} 

.service:hover h6,
.service:hover p {
    color: white;
}
